body {
<<<<<<< HEAD
  background: yellow;
=======
  background: blue;
>>>>>>> 2324aae4facfaf3c84ceeecb7b012e4120e0c7a4
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
}
.input-city {
  border: none;
  background: grey;
  border-radius: 5px;
  padding: 10px;
}
.search-button {
  border: none;
  color: grey;
}
